@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #0052d4;

    --background: 230 65% 3.36%;
    --foreground: 230 10% 97.1%;

    --muted: 230 50% 12.6%;
    --muted-foreground: 230 10% 54.2%;

    --popover: 230 45% 5.46%;
    --popover-foreground: 230 10% 97.1%;

    --card: 230 45% 5.46%;
    --card-foreground: 230 10% 97.1%;

    --border: 230 50% 12.6%;
    --input: 230 50% 12.6%;

    --primary: 230 100% 42%;
    --primary-foreground: 230 10% 97.1%;

    --secondary: 230 50% 12.6%;
    --secondary-foreground: 230 10% 97.1%;

    --accent: 230 50% 12.6%;
    --accent-foreground: 230 10% 97.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 230 10% 97.1%;

    --ring: 230 100% 42%;
  }
}

.btn-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.btn-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.btn-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2ff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #0c0047;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:focus + .btn-slider {
  box-shadow: 0 0 1px #f2f2ff;
}

input:checked + .btn-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.btn-slider.btn-round {
  border-radius: 34px;
}

.btn-slider.btn-round:before {
  border-radius: 50%;
}
